{% extends 'base.html' %}
{% block content %}
        <h1>Task List</h1>
        <a href="{% url 'add_task' %}" class="btn btn-primary">Add Task</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Due Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td><a href="{% url 'detail_task' task.pk %}" class="text-decoration-none">{{ task.description }}
                    </a></td>
                    <td>{{ task.get_status_display }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>
                    </td>
                </tr>
                {% endfor %}
{% endblock %}